<div id="interface">
	<textarea placeholder="テスト" id="textarea"></textarea>
	<div id="repeat_switch">
		<div id="repeat_switch_top">
			<input type="button" name="" id="add_repeat_switch" onchange="create_repeat_switch">
		</div>
		<div id="repeat_switch_bottom">
			<input type="checkbox" name="" id="checkbox">
			<input type="text" name="">
		</div>
	</div>
</div>